@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=VT323&display=swap');

/* 
font-family: 'Poppins', sans-serif;
font-family: 'VT323', monospace;
 */
:root {
    --text-color: #fff;
    --blue: #3F6BE3;
}

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
   
}

body {
    background: linear-gradient(245.59deg, #4bf22a 0%, #3F6BE3 28.53%, #ff78e1 75.52%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

header {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul {
    display: flex;
    gap: 4rem;
}

li a:hover{
    border-bottom: 1px solid var(--text-color);
}
.logo {
    font-size: 38px;
    font-weight: 500;
}

#menu-icon,
#close-icon {
    font-size: 30px;
    display: none;
}

/* section */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    font-size: 24px;
}

.main-text span {
    position: relative;
    bottom: 50px;
}

.main-text h3 {
    position: relative;
    bottom: 30px;
}

.main-text h1 {
    font-family: 'VT323', monospace;
    font-size: 80px;
}

.img img {
    max-width: 100%;
    width: 420px;
    height: auto;
}

button {
    margin-top: 30px;
    padding: 12px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: all .55s ease;
}

.blue-btn {
    background-color: var(--blue);
    border: 1px solid var(--blue);
}
.blue-btn:hover{
    background-color: transparent;
    border: 1px solid var(--blue);
    transform: translatex(-5px);

}
.transparent-btn{
    background-color: transparent;
    border: 1px solid var(--text-color);
}
.transparent-btn:hover{
    transform: translatex(5px);
}





@media screen and (max-width: 865px) {
    header {
        justify-content: space-between;
        margin: 40px;
    }

    header ul {
        display: none;
    }

    #menu-icon {
        display: block;
    }
}


@media screen and (max-width: 1220px) {
    body{
    overflow: hidden;
    }
    .social-media{
        display: none;
    }
    section{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img img{
        width: 100%;
        height: auto;
        width: 320px;
    }
}